/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    /*background-repeat: no-repeat;*/
    /*background-position: 175px -120px;*/
    /*background-image: url(../images/background.jpg);*/
    background-color: #4e81c2;
    /*background-size: cover;*/
}

div#page-wrap {
    width: 800px;
    margin: 0 auto;
}

form#signup {
    /*max-width: 800px;*/
    /*padding: 15px;*/
}

form#signup h2 {
    margin: 0;
    color: #ffffff;
    font-size: 2em;
    line-height: 2; 
}

form#signup h3 {
    margin: -5px 0 12px 0;
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.5;
}

form#signup h4 {
    margin: 15px 0 3px 0;
    color: #ffffff;
    font-size: 1em;
}

form#signup p, form#signup label {
    margin: 0 0 6px 0;
    color: rgba(255, 255, 255, .8);
}

form#signup fieldset {
    border: 1px solid rgba(255, 255, 255, .4);
    margin: 15px 0 15px 0;
    padding: 0 10px 10px 20px;
}

form#signup legend {
    color: #254581;
    font-size: .9em;
}

form#signup textarea {
    font-size: .9em;
    padding: 5px;
    border: none;
    color: #264581;
    background-color: rgba(255, 255, 255, .8);
    width:80%;
}

form#signup textarea:focus {
    background-color: #fff;
}

form#signup select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: .9em;
    background: #588fd0 url(../images/icons_arrows.svg) no-repeat right 8px;
    background-size: 30px 20px;
    color: #ffd34c;
    padding: 7px 45px 7px 10px;
    border: 1px solid #ffffff;
}

form#signup select::-ms-expand {
    display: none;
}

form#signup input[type=checkbox], form#signup input[type=radio] {
    width: 20px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

form#signup input[type=checkbox] + label,
form#signup input[type=radio] + label {
    display: inline-block;
    margin-left: -20px;
    padding: 4px 0 0 27px;
    background: url(../images/icons_check_radio.svg) no-repeat;
    background-size: 20px 80px;
    line-height: 16px;
}
form#signup input[type=checkbox] + label {
    background-position: 0 0;
}

form#signup input[type=radio] + label {
    background-position: 0 -40px;
}

form#signup input:checked + label {
    color: #ffd34c;
}

form#signup input[type=checkbox]:checked + label {
    background-position: 0 -20px;
}

form#signup input[type=radio]:checked + label {
    background-position: 0 -60px;
}

form#signup input#email {
    font-size: .9em;
    background: rgba(255, 255, 255, .8) url(../images/icon_email.svg) no-repeat 7px 6px;
    background-size: 30px 17px;
    padding: 5px 0 6px 47px;
    margin: 0 0 12px 0;
    border: none;
    color: #264581;
    width: 80%;
}

form#signup input#email:focus {
    background-color: #fff;
}

form#signup input[type=button] {
    font-size: .9em;
    color: #ffffff;
    border: none;
    background-color: #264581;
    margin: 10px 0 5px 0;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
}

form#signup input[type=button]:hover {
    color: #ffd34c;
}

p#thanks {
    display: none;
    color: #fff;
    font-size: 3em;
}